<!DOCTYPE html>
<html ng-app="ticTacToe">
<head>
	<title>Tic Tac Toe</title>
	<link rel="stylesheet" type="text/css" href="style.css" />
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
	<script type='text/javascript' src='https://cdn.firebase.com/js/client/1.0.17/firebase.js'></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
	<script type="text/javascript" src="controllers.js"></script>

</head>
<body ng-controller="TicTacToeController">

	<h1>Tic Tac Toe</h1>

	<div class="welcome" ng-show="begin">

		<p>Enter your name:</p>
		<form>
			<input type="text" placeholder = "Player 1"ng-model="players[0].name"/>
			<input type="text" placeholder = "Player 2"ng-model="players[1].name"/>
			<input type="submit" value="Start Game" ng-click="gameEnter()"/>
		</form>

	</div>

	
	<div class="gameboard" ng-class="{gameOver: gameOver}" ng-hide="begin">

		<div ng-repeat="b in boxes" ng-click="b.clicked || gameOver || box(b)" ng-class="{tile : b.player == 2, player1 : b.player == 0, player2 : b.player == 1, clicked : b.clicked, noClick : gameOver, winColor : b.colorMe}"><div class="symbol">{{b.symbol}}</div></div>

	</div>

	<div class="win" ng-show="gameOver">
		<div class="winStatement" ng-hide="tie">{{currentPlayer.name}} Wins!</div>
		<div class="winStatement" ng-show="tie">Nobody Wins...</div>
		<div class="buttonDiv">
			<button ng-click="startOver()">Play Again</button>
		</div>
	</div>

</body>
</html>