/* -------- Document-Wide Styling -------- */

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);

body{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  color: rgb(42,40,41);
  text-align: center;
  width: 100%;
  
}

h1{
  font-size: 60px;
  font-weight: 300;
}

h2{
  font-size: 50px;
  color: rgb(42,40,41);
}

button{
  width: 100%;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: rgb(42,40,41);
  color: white;
  padding: 10px;
  font-size: 22px;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgb(100,100,100,1);
}

button:hover{
  background-color: rgba(42,40,41);
}

button:active{
  -webkit-animation: buttonDown .2s forwards;
}

a{
  color: rgb(212,87,85);
  text-decoration: none;
}

/* -------- Welcome Panel -------- */

.welcome{
   -webkit-animation: bounceInDown .5s;
   animation: bounceInDown .5s;
}

.about{
  width: 600px;
  margin: 100px auto;
  text-align: left;
  font-size: 18px;
}

.about>div{
  margin: 30px auto;
}

.iconDiv{
  text-align: center;
}

.iconDiv>a{
  color: black;
}

.iconDiv>a:hover{
  color: #aaa;
}

/* -------- Gameboard -------- */

.gameboard{
  width: 500px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  -webkit-animation: bounceInDown 1s linear;
  content: "";
}


/* -------- Individual Tiles -------- */

.tile{
  background-color: #6baed6;
  width: 31%;
  height: 30%;
  margin: 1%;
  float: left;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  border-radius: 5%;
  box-shadow: 2px 2px 2px rgba(100,100,100,1)
}

.tile:hover{
  -webkit-animation: tileHover .2s forwards;
}

.symbol{
  margin: 0 auto;
  height: 50%;
  width: 100%;
  position: absolute;
  top: 25%;
  text-shadow: 2px 2px 2px rgba(200,200,200,1);
}


/* -------- Styles Applied to Tiles Under
Particular Game Conditions -------- */

.clearfix:after{
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.clicked{
  -webkit-animation: bounceIn .5s linear;
}

.player1, .player2{
  width: 31%;
  height: 30%;
  margin: 1%;
  font-size: 80px;
  float: left;
  font-family: 'Varela Round', sans-serif;
  line-height: 1em;
  position: relative;
  color: rgb(42,40,41);
}


.gameOver{
  -webkit-animation: shrinkDown .5s forwards;
  animation: shrinkDown .5s forwards;
}

.noClick{
  cursor: auto;
  -webkit-animation: none;
  animation: none;
}

.noClick:hover{
  -webkit-animation: none;
  animation: none;
}


/* -------- The Win Statement Box -------- */

.win{
  position: absolute;
  width: 30%;
  height: 300px;
  border-radius: 5px;
  top: 30%;
  left: 35%;
  -webkit-animation: bounceInDown .5s;
}

.winStatement{
  font-size: 50px;
  width: 70%;
  margin: 20px auto;
}

div .player1WinColor{
  color: rgb(97,83,117);
}

div .player2WinColor{
  color: rgb(229,98,92);
}

.buttonDiv{
  width: 200px;
  margin: 30px auto 0;
}

/* ----- Past Games Data Section ----- */

.pastGamesContainer{
  width: 720px;
  margin: 0 auto;
}

.gameStats{
  width: 240px;
  height: 360px;
  float: left;
  font-size: 20px;
}

.miniBoard{
  width: 200px;
  height: 200px;
  margin: 40px auto;
  position: relative;
  -webkit-animation: bounceInDown 1s linear;
  content: "";
}

.miniTile{
  background-color: #ededed;
  width: 31%;
  height: 30%;
  margin: 1%;
  float: left;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  border-radius: 5%;
  box-shadow: 2px 2px 2px rgba(100,100,100,1)
}

.player1Mini, .player2Mini{
  width: 31%;
  height: 30%;
  margin: 1%;
  font-size: 40px;
  float: left;
  font-family: 'Varela Round', sans-serif;
  line-height: 1em;
  position: relative;
  color: #ccc;
}

.miniSymbol{
  margin: 0 auto;
  height: 50%;
  width: 100%;
  position: absolute;
  top: 25%;
}

.miniBoardText{
  margin: 20px auto;
}

.miniBoardButton{
  width: 200px;
}

/* ----- Animations ----- */

/* Bounce In */
@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}


/* Bounce In Down */

@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    -ms-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    -ms-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

/* Tile Hover */
@-webkit-keyframes tileHover{
  100%{
    -webkit-transform: scale3d(.95, .95, .95);
  }
}

/* Button Down */
@-webkit-keyframes buttonDown{
  100% {
    -webkit-transform: translateY(4px);
  }
}

/* Shrink Down */
@-webkit-keyframes shrinkDown{
  100% {
    -webkit-transform: translateY(250px) scale3d(.3, .3, .3);
  }
}

/* Enter Left */
@-webkit-keyframes enterRight{
  0% {
    -webkit-transform: translateX(-2000px);
  }
  100% {
    -webkit-transform: translateX(0px);
  }
}