<h1><%= link_to image_tag('ox.png', style: 'width:40px; height:40px;') + "Tic-Tac-Toe", root_path, class: "navbar-brand", style: 'color: BLACK;' %></h1>
<p>This is a simple, straight-forward ROR App to initiate CRUD.</p>
<p>CRUD - Create, Read, Update & Delete fuctionality implemented</p>
<P>in ROR is extremely simple, and is effectively crontrolled via</p>
<p>ROR scaffolding</p>

<div align="center">
  <center>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Raiiar - Tic-Tac-Toe</title>
  <link rel="stylesheet" href="style.css" />
    <div class="container"  style="background: BLACK; color: WHITE;">
        <h1>Raiiar - Ticc-Tac-Toe</h1>
        <div class="play-area">

        </div>
        <h2 id="winner"></h2>
        <button onclick="reset_board()" style="color: WHITE;">RESET</button>
<footer id="footer">
<p class="copyright">&copy;
        <a href="https://www.raiiar.com.ng">
                  <strong><font size="4" color="GREEN">It_Ddd - App Development - Another website designed by Julius Olatokunbo&nbsp;</font><strong>
        </a>
</p>
</footer>
    </div>
    <script src="app.js"></script>
    </center>
</div>
