<h1>Home...</h1>
<link rel="stylesheet" href="https://www.raiiar.com.ng/ox/style.css" />
<div class="container"  style="background: BLACK; color: WHITE;">
    <div class="play-area" >

    </div>
    <h2 id="winner"></h2>
    <button onclick="reset_board()" style="color: WHITE;">RESET</button>
<script src="https://www.raiiar.com.ng/ox/app.js"></script>
</div>
